body {
  overflow: hidden;
}
#map {
  height: 100vh;
}

#list {
  overflow-y: scroll;
  height: 100vh;
}

.element {
  cursor: pointer;
}

#zoom-home-boton {
  position: relative;
  padding-left: 20px;
  width: 8px;
  height: 8px;
  padding: 14px;
  background: url(./casa.png);
  background-position: center;
  background-size: contain;
  background-color: white;
  z-index: 400;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

.control {
  position: absolute;
}